<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ATS-Add Account</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        #aknav:hover{
        background-color:#0077b6;
        }
    </style>

</head>
<body style="background-color: #03045e;">
<nav class="navbar navbar-expand-lg" style="background-color: #03045e">
    <div class="container-fluid">
        <a class="navbar-brand" style="color:#caf0f8;">ATS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/dashboard" style="margin-left:650px;color:#caf0f8" id="aknav">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/openings" style="color:#caf0f8" id="aknav">Openings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/candidates" style="color:#caf0f8" id="aknav">Candidates</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pipeline" style="color:#caf0f8" id="aknav">Pipeline</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/placement" style="color:#caf0f8" id="aknav">Placements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/account" style="color:#caf0f8" id="aknav">Account</a>
                </li>
                <li class="nav-item" style="margin-left:630px;">
                    <a class="nav-link" href="/signout" style="color:#caf0f8" id="aknav">SignOut</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-2" style="background-color: #03045e">

        </div>
        <div class="col-md-8" style="background-color: #00b4d8">
            <br>
            <h1 align="center">Add Account</h1>
            <hr>

            <form action="/addaccount" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" aria-describedby="emailHelp"
                           placeholder="Name" value="{{ name }}" name="name">
                </div>
                <br>
                <div class="form-group">
                    <label for="accown">Account Owner</label>
                    <input type="text" class="form-control" id="accown" placeholder="Account Owner" min="0"
                           max="5" value="{{ accown }}" name="accown">
                </div>
                <br>
                <div class="form-group">
                    <label for="accod">Account Code</label>
                    <input type="number" class="form-control" id="accod" placeholder="Account Code"
                           value="{{ accod }}" name="accod">
                </div>
                <br>
                <div class="form-group">
                    <label for="cate">Category</label>
                    <input type="text" class="form-control" id="cate" placeholder="Category" value="{{ cate }}"
                           name="cate">
                </div>
                <br>
                <div class="form-group">
                    <label for="acce">Access</label>
                    <input type="text" class="form-control" id="acce" placeholder= "Access"
                           value="{{ acce }}" name="acce">
                </div>
                <br>
                <div class="form-group">
                    <label for="stat">Status</label>
                    <input type="text" class="form-control" id="stat" placeholder="Status" min="1" max="3"
                           value="{{ stat }}" name="stat">
                </div>
                <br>
                <div class="form-group">
                    <label for="pho">Phone</label>
                    <input type="text" class="form-control" id="pho" placeholder="Phone" min="0"
                           value="{{ pho }}" name="pho">
                </div>
                <br>
                <div class="form-group">
                    <label for="state">State</label>
                    <input type="text" class="form-control" id="state" placeholder="State" value="{{ state }}"
                           name="state">
                </div>
                <br>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-dark">Submit</button>
                </div>
                <br>
                <br>
            </form>


        </div>

        <div class="col-md-2" style="background-color: #03045e">

        </div>
    </div>
</div>
</body>
</html>
